@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

pre.elmsh {
  padding: 10px;
  margin: 0;
  text-align: left;
  overflow: auto;
}

code.elmsh {
  padding: 0;
}

.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 20px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}
